//base
$font-family-main: 'Open Sans', sans-serif;
$font-family-second: 'Work Sans', sans-serif;

//colors
$color-white: #ffffff;
$color-gray: #576072;
$color-dark-gray: #2c313a;
$color-red: #931430;
$color-sea: #0067a3;
$color-sea: #0067a3;
